/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ##################################################################### */

/* ##########################   SMARTPHONE   ########################### */

/* ##################################################################### */

@media (max-width: 500px) {
    .imageresponsive {
        width: 100% !important;
        height: 32% !important;
        z-index: 5;
    }

    .heightpx {
        height: 150px !important;
    }

    .sizephone {
        font-size: 10px !important;
    }
}

/* Extra small devices (phones, more than 501px) */

/* ##################################################################### */

/* ############################   TABLETS   ############################ */

/* ##################################################################### */

/* Small devices (tablets, 501px and up) */

@media (min-width: 501px) {
    .imageresponsive {
        width: 80% !important;
        height: 40% !important;
        z-index: 5;
    }

    .heightpx {
        height: 250px !important;
    }

    .sizephone {
        font-size: 12px !important;
    }
}

/* ##################################################################### */

/* ############################   DESKTOPS   ########################### */

/* ##################################################################### */

/* Medium devices (desktops, 769px and up) */

@media (min-width: 769px) {
    .imageresponsive {
        width: 65% !important;
        height: 60% !important;
        z-index: 5;
    }

    .heightpx {
        height: 250px !important;
    }

    .sizephone {
        font-size: 14px !important;
    }
}

/* ##################################################################### */

/* ########################   LARGE DESKTOPS   ######################### */

/* ##################################################################### */

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .imageresponsive {
        width: 60% !important;
        height: 60% !important;
        z-index: 5;
    }

    .heightpx {
        height: 300px !important;
    }

    .sizephone {
        font-size: 16px !important;
    }
}

/* ##################################################################### */

/* ########################     GENERAL CSS    ######################### */

/* ##################################################################### */

body {
    background: #26262b;
}

.fontmarsek {
    font-family: "Marsek", sans-serif !important;
}

@font-face {
    font-family: "Marsek";
    src: url(../../assets/font/marsek.ttf);
}

@font-face {
    font-family: "Oswald";
    src: url(../../assets/font/Oswald-ExtraLight.ttf);
}

.fontoswald {
    font-family: "Oswald", sans-serif !important;
}

.height100vh {
    height: 100vh;
}

.height50vh {
    width: 100%;
    height: 50vh;
}

.zindex {
    z-index: 10;
}

/* ##################################################################### */

/* ########################     NAV BAR CSS    ######################### */

/* ##################################################################### */

.navbar-toggler {
    color: #ddd;
}

nav {
    background: inherit;
}

.navbar-nav .nav-link {
    color: #ddd;
    font-size: 13px;
}

.navbar-nav .nav-link:hover {
    color: white !important;
    transform: scale(1.1);
    transition: all 0.2s;
}

.fa-connectdevelop {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

/* ##################################################################### */

/* #################     INDEX MIDDLE PRESENTATION   ################### */

/* ##################################################################### */

.bgvague {
    background: url("../../assets/img/testvague.png");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position-y: bottom;
}

.secondbgvague {
    background: url("../../assets/img/testvague.png");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position-y: bottom;
    transform: scale(-1, -1)
}

/* ##################################################################### */

/* #############################    INDEX   ############################ */

/* ##################################################################### */

/* ############ SEPARATOR ############ */

p {
    color: #ddd;
}

.h1 {
    color: #ddd;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -20px;
    background-color: #26262b;
}

.line {
    border-top: 1px solid #590081;
}

/* ############ REALISATION ############ */

.noeffect:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #590081 !important;
    border-color: #590081 !important;
    transition: all 0.2s;
}

.btn-primary:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.description {
    word-wrap: break-word;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    background: #79FAC4;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: hidden;
    background-color: white;

}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: #26262b;
    float: left;
    margin: 0px;
    display: inline-block;
}

.hovereffect .overlay p a {
    background: #26262b !important;
    color: white !important;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
    color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    visibility: visible;
}

.hovereffect p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.img-responsive {
    opacity: 0.8;
}

/* ##################################################################### */

/* #############################    ABOUT   ############################ */

/* ##################################################################### */

/* ##################################################################### */

/* #############################   CONTACT  ############################ */

/* ##################################################################### */

.nobg {
    background-color: inherit;
}

.effect-1 {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect-1~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #590081;
    transition: 0.5s;
}

.effect-1:focus~.focus-border {
    width: 100%;
    transition: 0.5s;
}

.noborder {
    border: none;
}

.colorwhite {
    color: white;
}

.colorgreen {
    color: green;
}

.colororange {
    color: orange;
}

.colorred {
    color: red;
}

.colorblack {
    color: #252d31;
}


/* ##################################################################### */

/* #############################    ADMIN   ############################ */

/* ##################################################################### */


.sidebar {
    background-color: #26262b;
    transition: all 0.5s ease-in-out;
}

.bg-defoult {
    background-color: #252d31;
}

.sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar li a,
.sidebar li a.collapsed.active {
    display: block;
    padding: 8px 12px;
    color: #fff;
    border-left: 0px solid #dedede;
    text-decoration: none
}

.sidebar li a.active {
    background-color: #252d31;
    border-left: 5px solid #dedede;
    transition: all 0.5s ease-in-out
}

.sidebar li a:hover {
    background-color: #d6d6d6 !important;
    color: #590081;
}

.overflow {
    overflow-y: hidden;
}

.colorandsize {
    color: #ddd;
    font-weight: bold;
    text-decoration: underline;
}

img[src='https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png'] {
    display: none !important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}